.card {
  height: 100px;
  width: 50%;

  background: #735bf2;
  color: #fff;

  border: solid 3px black;
  border-radius: 15px;
  margin-bottom: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
}

.card strong {
  font-size: 20px;
}
